html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $f-arial;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  height: 100%;
}
